# 忽略预训练模型和检查点
pretrained/*
checkpoints/*
checkpoints_backup/*
logs/*
tensorboard/*
test/*

# 忽略包含本地路径的配置文件
lib/train/admin/local.py
lib/test/evaluation/local.py

# Python缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

