class EnvironmentSettings:
    def __init__(self):
        # 请根据您的本地环境修改以下路径
        # Please modify the following paths according to your local environment
        
        self.workspace_dir = '/path/to/your/SUTrack'    # Base directory for saving network checkpoints.
        self.tensorboard_dir = '/path/to/your/SUTrack/tensorboard'    # Directory for tensorboard files.
        self.pretrained_networks = '/path/to/your/SUTrack/pretrained_networks'
        self.lasot_dir = '/path/to/dataset/LaSOT/zip'
        self.vasttrack_dir = '/path/to/your/SUTrack/data/vasttrack'
        self.got10k_dir = '/path/to/dataset/GOT-10k/full_data/train'
        self.lasot_lmdb_dir = '/path/to/your/SUTrack/data/lasot_lmdb'
        self.got10k_lmdb_dir = '/path/to/your/SUTrack/data/got10k_lmdb'
        self.trackingnet_dir = '/path/to/dataset/trackingnet'
        self.trackingnet_lmdb_dir = '/path/to/your/SUTrack/data/trackingnet_lmdb'
        self.coco_dir = '/path/to/dataset/coco'
        self.coco_lmdb_dir = '/path/to/your/SUTrack/data/coco_lmdb'
        self.imagenet1k_dir = '/path/to/your/SUTrack/data/imagenet1k'
        self.imagenet22k_dir = '/path/to/your/SUTrack/data/imagenet22k'
        self.lvis_dir = ''
        self.sbd_dir = ''
        self.imagenet_dir = '/path/to/your/SUTrack/data/vid'
        self.imagenet_lmdb_dir = '/path/to/your/SUTrack/data/vid_lmdb'
        self.imagenetdet_dir = ''
        self.ecssd_dir = ''
        self.hkuis_dir = ''
        self.msra10k_dir = ''
        self.davis_dir = ''
        self.youtubevos_dir = ''
        self.depthtrack_dir = '/path/to/dataset/DepthTrack/DepthTrack'
        self.lasher_dir = '/path/to/your/SUTrack/data/lasher/trainingset'
        self.visevent_dir = '/path/to/your/SUTrack/data/visevent/train'
        self.refcoco_dir = '/path/to/your/SUTrack/data/refcoco'
        self.tnl2k_dir = '/path/to/your/SUTrack/data/tnl2k/train'
        self.otb99_dir = '/path/to/your/SUTrack/data/otb_lang'
